<header class="header">
    <div class="container">
        <div class="topbar">
            <div class="topbar__left">
                <a ng-href="home">
                    <img src="../images/uploads/logo-holy.svg" alt="logo">
                </a>
            </div>
            <div class="topbar__right">
                <div>
                    Система электронного документооборота с эмитентами ценных бумаг
                </div>
            </div>
        </div>
        <div class="header">
            <div>
                <ul class="nav">
                    <li>О проекте</li>
                    <li>Сроки размещения</li>
                    <li>Нормативные документы</li>
                    <li>Инсайдеры биржи</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="main">
    <div class="container">
        <div class="main__form">
            <div class="title title_company">
                <h1>АО "Казахстанская фондовая биржа"</h1>
            </div>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Периодичная">
                        <md-content>
                            <div class="planned planned_period">
                                <div>
                                    <h2>Ожидается к рамещению</h2>
                                </div>
                                <div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th class="table__1st">Категория</th>
                                            <th class="table__2nd">Срок предоставления</th>
                                        </tr>

                                        <tr ng-repeat="period in vm.report | filter: { status: 0 }">
                                            <td>
                                                <a ng-href="/home/{{period}}">
                                                    {{period.title}}
                                                </a>
                                            </td>
                                            <td>
                                                {{period.id}}
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="От текущей деятельности">
                        <md-content>
                            <div class="planned planned_current">
                                <div class="common">
                                    <div>
                                        <h2>Ожидается к рамещению</h2>
                                    </div>
                                    <div class="default">
                                        <input type="text" class="input" ng-model="searchTitle" placeholder="Введите текст для поиска">
                                    </div>
                                </div>
                                <div>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="table__1st">Категория</th>
                                                <th class="table__2nd">Всего</th>
                                            </tr>
                                            <tr ng-repeat="report in vm.report | filter: searchTitle | filter: { status: 1 }" >
                                                <td>
                                                    <a ng-bind="report.title" ng-href="/home/{{report}}"
                                                       class="report__title report_text"></a>
                                                </td>
                                                <td>{{$index+1}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
            <div class="bound main__users">
                <div>
                    <h2>Пользователи компании</h2>
                </div>
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th class="table__1st">
                                    Имя
                                </th>
                                <th class="table__2nd">
                                    E-mail
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Кобаева Айгерим
                                </td>
                                <td>k.myasnikova@life.stdi.kz</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
