<header class="header">
    <div class="container">
        <div class="topbar">
            <div class="topbar__left">
                <a ng-href="home">
                    <img src="../images/uploads/logo-holy.svg" alt="logo">
                </a>
            </div>
            <div class="topbar__right">
                <div>
                    Система электронного документооборота с эмитентами ценных бумаг
                </div>
            </div>
        </div>
        <div class="header">
            <div>
                <ul class="nav">
                    <li>О проекте</li>
                    <li>Помощь</li>
                    <li>Поддержка</li>
                    <li>Активность</li>
                    <li>Эмитенты</li>
                    <li>Администрирование</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div>
        <h3 ng-bind="item.title"></h3>
    </div>
    <div class="form-wrap">
        <form ng-submit="vm.form()" ng-if="vm.item" class="template template_item">
            <div>
                <table>
                    <tr>
                        <td>
                            <label for="consolidate">Консолидированная</label>
                        </td>
                        <td>
                            <fieldset>
                                <input type="checkbox" id="consolidate" ng-model="vm.consCheck">
                            </fieldset>
                            <div ng-if="!vm.consCheck">
                                {{vm.reply.msgCheck}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="quarter">
                                Квартальная
                            </label>
                        </td>
                        <td>
                            <fieldset>
                                <input type="checkbox" id="quarter" ng-model="vm.quarterCheck">
                            </fieldset>
                            <div ng-if="!vm.quarterCheck">
                                {{vm.reply.msgCheck}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="quarter">
                                За какой период
                            </label>
                        </td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.quarter">
                                    <option value="" disabled selected>Выберите</option>
                                    <option value="I Квартал">I Квартал</option>
                                    <option value="II Квартал">II Квартал</option>
                                    <option value="III Квартал">III Квартал</option>
                                    <option value="IV Квартал">IV Квартал</option>
                                </select>
                                <div ng-if="!vm.quarter">
                                    {{vm.reply.msgQuarter}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Год
                        </td>
                        <td>
                            <div>
                                <fieldset>
                                    <select
                                            ng-model="vm.year"
                                            ng-options="year for year in vm.years"
                                            class="years">
                                    </select>
                                    <div ng-if="!vm.year">
                                        {{vm.reply.msgYear}}
                                    </div>
                                </fieldset>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Документ</td>
                        <td>
                            <fieldset>
                                <input name="userfile"
                                       type="file"
                                       accept="application/pdf, application/vnd.ms-excel"
                                       file-model="vm.fileItem"/>
                            </fieldset>

                        </td>
                    </tr>
                    <tr>
                        <td>Предлагаемая дата публикации</td>
                        <td>
                            <md-content layout-padding ng-cloak>
                                <div layout-gt-xs="row">
                                    <div flex-gt-xs>
                                        <md-content>
                                            <md-datepicker ng-model="vm.myDate" ng-change="vm.dataChanged()" md-placeholder="Enter date"></md-datepicker>
                                        </md-content>
                                    </div>
                                </div>
                            </md-content>
                            {{vm.myDate | date: shortDate}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button-wrap">
                <button type="submit" class="button button_save">Сохранить</button>
            </div>
        </form>

        <form ng-submit="vm.itemOne()" name="kaseForm" ng-if="vm.itemSelect" class="template template_itemOne">
            <div>
                <table>
                    <tr>
                        <td>
                            <label for="consolidate">Консолидированная</label>
                        </td>
                        <td>
                            <fieldset>
                                <input type="checkbox" id="consolidate" ng-model="vm.consCheck">
                            </fieldset>
                            <div ng-if="!vm.consCheck">
                                {{vm.response.msgCheck}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="quarter">
                                Квартальная
                            </label>
                        </td>
                        <td>
                            <fieldset>
                                <input type="checkbox" id="quarter" ng-model="vm.quarterCheck">
                            </fieldset>
                            <div ng-if="!vm.quarterCheck">
                                {{vm.response.msgCheck}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="quarter">
                                За какой период
                            </label>
                        </td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.month">
                                    <option value="" disabled selected>Выберите</option>
                                    <option value="январь-март">январь-март</option>
                                    <option value="январь-июнь">январь-июнь</option>
                                    <option value="январь-сентябрь">январь-сентябрь</option>
                                    <option value="январь-декабрь">январь-декабрь</option>
                                </select>
                                <div ng-if="!vm.month">
                                    {{vm.response.msgMonth}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Год
                        </td>
                        <td>
                            <div>
                                <fieldset>
                                    <select
                                            ng-model="vm.year"
                                            ng-options="year for year in vm.years"
                                            class="years">
                                    </select>
                                    <div ng-if="!vm.year">
                                        {{vm.response.msgYear}}
                                    </div>
                                </fieldset>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Документ в формате PDF:
                        </td>
                        <td>
                            <div>
                                <fieldset>
                                    <input name="pdf"
                                           type="file"
                                           accept="application/pdf"
                                           file-model="vm.pdfItem"/>
                                </fieldset>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Документ в формате Excel:
                        </td>
                        <td>
                            <fieldset>
                                <input name="excel"
                                       type="file"
                                       accept="application/vnd.ms-excel"
                                       file-model="vm.excelItem"/>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Комментарий:</td>
                        <td>
                            <fieldset>
                                <textarea class="textarea"></textarea>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button-wrap">
                <button type="submit" class="button button_save">Сохранить</button>
            </div>
        </form>

        <form ng-submit="vm.record()" name="kaseRecord" ng-if="vm.report" class="template template_record">
            <div>
                <table>
                    <tr>
                        <td>Тип изменений</td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.change" ng-change="changeName()">
                                    <option value="изменения и дополнения">
                                        Изменения и дополнения
                                    </option>
                                    <option value="изменения">
                                        Изменения
                                    </option>
                                </select>
                                <div ng-if="!vm.change">
                                    {{vm.response.msgType}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Когда зарегистрированы</td>
                        <td>
                            <fieldset>
                                <md-content layout-padding ng-cloak>
                                    <div layout-gt-xs="row">
                                        <div flex-gt-xs>
                                            <md-content>
                                                <md-datepicker ng-model="vm.recordDate" ng-change="vm.recordChanged()" md-placeholder="Enter date"></md-datepicker>
                                            </md-content>
                                        </div>
                                    </div>
                                </md-content>
                            </fieldset>
                            <!--{{vm.recordDate | date: shortDate}}-->
                        </td>
                    </tr>
                    <tr>
                        <td>Каким органом зарегистрированы</td>
                        <td>
                            <fieldset>
                                <input type="text" name="register" ng-model="vm.register" ng-pattern="register" required>
                            </fieldset>
                            <div class="error" ng-show="kaseRecord.register.$error.required">
                                Заполните поле
                            </div>
                            <div class="error" ng-show="kaseRecord.register.$error.pattern">
                                Поле заполнено неверно
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Документ</td>
                        <td>
                            <fieldset>
                                <input name="userfile"
                                       type="file"
                                       accept="application/pdf, application/vnd.ms-excel"
                                       file-model="vm.fileRecord"
                                       required/>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button-wrap">
                <fieldset>
                    <button type="submit" class="button button_save">Сохранить</button>
                </fieldset>
            </div>
        </form>

        <form ng-submit="vm.board()" ng-if="vm.meeting" class="template template_board">
            <div>
                <table>
                    <tr>
                        <td>Тип собрания</td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.protocol" ng-options="value.id as value.label for value in vm.protocols">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.protocol">
                                    {{vm.msgProtocol}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип документа</td>
                        <td>
                            <fieldset >
                                <select ng-model="vm.type" ng-options="value.id as value.label for value in vm.types">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.type">
                                    {{vm.msgType}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Когда состоялось
                        </td>
                        <td>
                            <fieldset>
                                <md-content layout-padding ng-cloak>
                                    <div layout-gt-xs="row">
                                        <div flex-gt-xs>
                                            <md-content>
                                                <md-datepicker ng-model="vm.boardDate" ng-change="vm.boardChange()" md-placeholder="Enter date"></md-datepicker>
                                            </md-content>
                                        </div>
                                    </div>
                                </md-content>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Тип владельцов компании
                        </td>
                        <td>
                            <!--<fieldset>-->
                                <!--<select ng-model="vm.holders">-->
                                    <!--<option value="акционеров">Акционеров</option>-->
                                <!--</select>-->
                            <!--</fieldset>-->
                            <!--<div ng-if="vm.holders === 'Вебирите тип владельца'">-->
                                <!--{{vm.holders}}-->
                            <!--</div>-->
                            <fieldset>
                                <select ng-model="vm.holder" ng-options="value.id as value.label for value in vm.holders">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.holder">
                                    {{vm.msgHolders}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Документ</td>
                        <td>
                            <fieldset>
                                <input name="userfile"
                                       type="file"
                                       accept="application/pdf, application/vnd.ms-excel"
                                       file-model="vm.fileBoard"/>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Предлагаемая дата публикации</td>
                        <td>
                            <fieldset>
                                <md-content layout-padding ng-cloak>
                                    <div layout-gt-xs="row">
                                        <div flex-gt-xs>
                                            <md-content>
                                                <md-datepicker ng-model="vm.publishDate" ng-change="vm.publishChange()" md-placeholder="Enter date"></md-datepicker>
                                            </md-content>
                                        </div>
                                    </div>
                                </md-content>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button-wrap">
                <button class="button button_save">Сохранить</button>
            </div>
        </form>

        <form ng-submit="vm.stock()" name="kaseStock" ng-if="vm.equity" class="template template_equity">
            <div>
                <table>
                    <tr>
                        <td>Тип изменений</td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.equityChange" ng-options="value.id as value.label for value in vm.equityChanges">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.equityChange">
                                    {{vm.response.msgEquity}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Номер изменений</td>
                        <td>
                            <fieldset>
                                <input type="text" name="input" ng-model="vm.equityNumber" ng-pattern="issueNumber" required>
                            </fieldset>
                            <div class="error" ng-show="kaseStock.input.$error.required">
                                Напишите номер (цифры)
                            </div>
                            <div class="error" ng-show="kaseStock.input.$error.pattern">
                                Неправильный номер
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Код ценной бумаги</td>
                        <td>
                            <fieldset >
                                <input type="text" name="code" ng-model="vm.equityCode" ng-pattern="issueCode" required>
                            </fieldset>
                            <div class="error" ng-show="kaseStock.code.$error.required">
                                Напишите код ценной бумаги (лат.)
                            </div>
                            <div class="error" ng-show="kaseStock.code.$error.pattern">
                                Неправильный код
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>НИН</td>
                        <td>
                            <fieldset >
                                <input type="text" name="nin" ng-model="vm.equityNin" ng-pattern="issueCode" required>
                            </fieldset>
                            <div class="error" ng-show="kaseStock.nin.$error.required">
                                Напишите НИН (лат.)
                            </div>
                            <div class="error" ng-show="kaseStock.nin.$error.pattern">
                                Неправильный НИН
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ISIN</td>
                        <td>
                            <fieldset>
                                <input type="text" name="isin" ng-model="vm.equityIsin" ng-pattern="issueCode" required>
                            </fieldset>
                            <div class="error" ng-show="kaseStock.isin.$error.required">
                                Напишите НИН (лат.)
                            </div>
                            <div class="error" ng-show="kaseStock.isin.$error.pattern">
                                Неправильный НИН
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Номер выпуска</td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.equityIssue" ng-options="value.id as value.label for value in vm.equityIssues">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.equityIssue">
                                    {{vm.response.msgIssue}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="bond">
                                В пределах облигационной программы
                            </label>
                        </td>
                        <td>
                            <fieldset>
                                <input type="checkbox" id="bond" ng-model="vm.bondCheck">
                            </fieldset>
                            <div ng-if="!vm.bondCheck">
                                {{vm.response.msgCheck}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Номер выпуска облигационной формы</td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.bondChange" ng-options="value.id as value.label for value in vm.bondChanges">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.bondChange">
                                    {{vm.response.msgBond}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Когда зарегистрированы
                        </td>
                        <td>
                            <fieldset>
                                <md-content layout-padding ng-cloak>
                                    <div layout-gt-xs="row">
                                        <div flex-gt-xs>
                                            <md-content>
                                                <md-datepicker ng-model="vm.boardDate" ng-change="vm.boardChange()" md-placeholder="Enter date"></md-datepicker>
                                            </md-content>
                                        </div>
                                    </div>
                                </md-content>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Документ</td>
                        <td>
                            <fieldset>
                                <input name="userfile"
                                       type="file"
                                       accept="application/pdf, application/vnd.ms-excel"
                                       file-model="vm.fileEquity"
                                />
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Предлагаемая дата публикации</td>
                        <td>
                            <md-content layout-padding ng-cloak>
                                <div layout-gt-xs="row">
                                    <div flex-gt-xs>
                                        <md-content>
                                            <md-datepicker ng-model="vm.equityDate" ng-change="vm.dateEquity()" md-placeholder="Enter date"></md-datepicker>
                                        </md-content>
                                    </div>
                                </div>
                            </md-content>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button-wrap">
                <button type="submit" class="button button_save">Сохранить</button>
            </div>
        </form>

        <form ng-submit="vm.press()" name="kasePress" ng-if="vm.release" class="template template_press">
            <div>
                <table>
                    <tr>
                        <td>
                            Дата пресс-релиза
                        </td>
                        <td>
                            <fieldset>
                                <md-content layout-padding ng-cloak>
                                    <div layout-gt-xs="row">
                                        <div flex-gt-xs>
                                            <md-content>
                                                <md-datepicker ng-model="vm.pressDate" ng-change="vm.pressChange()" md-placeholder="Enter date"></md-datepicker>
                                            </md-content>
                                        </div>
                                    </div>
                                </md-content>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Эмитент сообшает о</td>
                        <td>
                            <fieldset>
                                <input type="text" name="press" ng-model="vm.pressIssuer" ng-pattern="pressIssuer" required>
                            </fieldset>
                            <div class="error" ng-show="kasePress.press.$error.required">
                                Заполните поле
                            </div>
                            <div class="error" ng-show="kasePress.press.$error.pattern">
                                Поле заполнено неверно
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Документ</td>
                        <td>
                            <fieldset>
                                <input name="userfile"
                                       type="file"
                                       accept="application/pdf, application/vnd.ms-excel"
                                       file-model="vm.filePress"
                                />
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Предлагаемая дата публикации</td>
                        <td>
                            <md-content layout-padding ng-cloak>
                                <div layout-gt-xs="row">
                                    <div flex-gt-xs>
                                        <md-content>
                                            <md-datepicker ng-model="vm.releaseDate" ng-change="vm.dateRelease()" md-placeholder="Enter date"></md-datepicker>
                                        </md-content>
                                    </div>
                                </div>
                            </md-content>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button-wrap">
                <button type="submit" class="button button_save">Сохранить</button>
            </div>
        </form>

        <form ng-submit="vm.info()" name="kaseInfo" ng-if="vm.message" class="template template_info">
            <div>
                <table>
                    <tr>
                        <td>Тип облигаций</td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.typeInfo" ng-options="value.id as value.label for value in vm.typesInfo">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.typeInfo">
                                    {{vm.reply.msgType}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Категория официального списка</td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.catInfo" ng-options="value.id as value.label for value in vm.catsInfo">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.catInfo">
                                    {{vm.reply.msgCat}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>Дата выплаты</td>
                        <td>
                            <fieldset>
                                <input type="text" name="info" ng-model="vm.infoDate" ng-pattern="infoDate" required>
                            </fieldset>
                            <div class="error" ng-show="kaseInfo.info.$error.required">
                                Заполните поле
                            </div>
                            <div class="error" ng-show="kaseInfo.info.$error.pattern">
                                Поле заполнено неверно
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Порядковый номер выплаты</td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.infoNumber" ng-options="value.id as value.label for value in vm.infoNumbers">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.infoNumber">
                                    {{vm.reply.msgNumber}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>НИН</td>
                        <td>
                            <fieldset >
                                <input type="text" name="nin" ng-model="vm.infoNin" ng-pattern="issueCode" required>
                            </fieldset>
                            <div class="error" ng-show="kaseInfo.nin.$error.required">
                                Напишите НИН (лат.)
                            </div>
                            <div class="error" ng-show="kaseInfo.nin.$error.pattern">
                                Неправильный НИН
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ISIN</td>
                        <td>
                            <fieldset>
                                <input type="text" name="isin" ng-model="vm.infoIsin" ng-pattern="issueCode" required>
                            </fieldset>
                            <div class="error" ng-show="kaseInfo.isin.$error.required">
                                Напишите ISIN (лат.)
                            </div>
                            <div class="error" ng-show="kaseInfo.isin.$error.pattern">
                                Неправильный ISIN
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Код ценной бумаги</td>
                        <td>
                            <fieldset>
                                <input type="text" name="code" ng-model="vm.infoCode" ng-pattern="issueCode" required>
                            </fieldset>
                            <div class="error" ng-show="kaseInfo.code.$error.required">
                                Напишите код (лат.)
                            </div>
                            <div class="error" ng-show="kaseInfo.code.$error.pattern">
                                Неправильный код
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Суммы выплаты</td>
                        <td>
                            <fieldset>
                                <input type="text" name="sum" ng-model="vm.infoSum" ng-pattern="issueCode" required>
                            </fieldset>
                            <div class="error" ng-show="kaseInfo.sum.$error.required">
                                Напишите сумму
                            </div>
                            <div class="error" ng-show="kaseInfo.sum.$error.pattern">
                                Введите сумму цифрами
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Валюта выплаты</td>
                        <td>
                            <fieldset>
                                <select ng-model="vm.infoCurrency" ng-options="value.id as value.label for value in vm.infoCurrencies">
                                    <option>--</option>
                                </select>
                                <div ng-if="!vm.infoCurrency">
                                    {{vm.reply.msgCurrency}}
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Предлагаемая дата публикации:</td>
                        <td>
                            <md-content layout-padding ng-cloak>
                                <div layout-gt-xs="row">
                                    <div flex-gt-xs>
                                        <md-content>
                                            <md-datepicker ng-model="vm.releaseInfo" ng-change="vm.infoRelease()" md-placeholder="Enter date"></md-datepicker>
                                        </md-content>
                                    </div>
                                </div>
                            </md-content>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button-wrap">
                <button type="submit" class="button button_save">Сохранить</button>
            </div>
        </form>
    </div>
    <div>
        Электронная версия финансовой отчетности должна являться сканированной копией ее бумажной версии и предоставляется бирже в формате Adobe Acrobat Professional® и формате Excel. Финансовая отчетность должна быть подготовлена нарастающим итогом, подписана первым руководителем и главным бухгалтером (или замещающими их лицами) листинговой компании и заверена оттиском печати данной компании (организации). Документ должен быть направлен бирже в положении удобном для чтения и иметь хорошее качество для последующего его просмотра.
    </div>
</div>